<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.ikeeping.sns.dao.CommunityDetailMapper">

  <sql id="Base_Column_List">
    xqid, cmid, uid, nrtime, gps, xqcontent, xqimgurl
  </sql>

  <select id="selectDetail" resultType="com.zz.ikeeping.sns.vo.VCommunityDetail">
    SELECT cd.id, u.uid, u.imgurl, u.uname, cd.content, cd.imgurl deimg, cd.pubtime, cd.location
    FROM t_communitydetail cd
    inner join t_user u
    on cd.uid = u.uid
    ORDER BY cd.pubtime DESC;
  </select>

  <select id="newPublishTopicDetail" parameterType="int" resultType="com.zz.ikeeping.sns.vo.VCommunityDetail">
    SELECT cd.id, u.uid, u.imgurl, u.uname, cd.content, cd.imgurl deimg, cd.pubtime, cd.location
    FROM t_communitydetail cd
    inner join t_user u
    on cd.uid = u.uid
    WHERE cd.cmid = #{cmid}
    ORDER BY cd.pubtime DESC;
  </select>

  <update id="topicPraise" parameterType="int">
    update t_communitydetail set count=#{count} where id = #{id}
  </update>

  <insert id="add" parameterType="com.zz.ikeeping.entity.CommunityDetail">
    insert into t_communitydetail(cmid,uid,pubtime,location,content,imgurl,count) values(#{cmid},#{uid},now(),#{location},#{content},#{imgurl},#{count})
  </insert>

  <select id="showTopicAtMostComment" parameterType="int" resultType="com.zz.ikeeping.sns.vo.VCommunityDetail">
    SELECT count(*) count, cd.id, u.uid, u.imgurl, u.uname, cd.content, cd.imgurl deimg, cd.pubtime, cd.location
    FROM t_communitydetail cd
    RIGHT join t_comment c
    on c.cmid = cd.id
    inner join t_user u
    on u.uid = cd.uid
    WHERE cd.cmid = #{cmid}
    GROUP BY c.cmid
    ORDER BY count DESC
  </select>
</mapper>