<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.ikeeping.sports.dao.StepCountMapper">
    <insert id="insert" parameterType="com.zz.ikeeping.entity.StepCount">
        insert into t_stepcount(uid,stepcount,daydate) values (#{uid},#{stepcount},now())
    </insert>
    <select id="findByUid" parameterType="int" resultType="com.zz.ikeeping.entity.StepCount">
        select * from t_stepcount where uid = #{uid}
    </select>
</mapper>