<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.ikeeping.news.dao.NewsDetailMapper">
  <resultMap id="BaseResultMap" type="com.zz.ikeeping.entity.NewsDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rewardcount" jdbcType="INTEGER" property="rewardcount" />
    <result column="readcount" jdbcType="INTEGER" property="readcount" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="gid" jdbcType="INTEGER" property="gid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zz.ikeeping.entity.NewsDetail">
    <result column="detailcontent" jdbcType="LONGVARCHAR" property="detailcontent" />
  </resultMap>

  <select id="selectOne" parameterType="java.lang.Integer" resultType="com.zz.ikeeping.news.vo.VNewDetail">

  select n.imgurl,n.pubtime,n.newstype,d.* ,c.* from t_newsdetail d
    inner join t_news n
    on d.cid=n.id
    inner  join t_newsc c
    on c.nid=d.cid
    where cid=#{cid}
  </select>
  <select id="selectByK" parameterType="java.lang.Integer" resultType="com.zz.ikeeping.entity.NewsDetail">

 select * from t_newsdetail
    where cid=#{cid}
  </select>

  <insert id="insert" parameterType="com.zz.ikeeping.entity.NewsDetail">
    insert into t_newsdetail (id, rewardcount, readcount, 
      cid, gid, detailcontent
      )
    values (#{rewardcount}, #{readcount},
      #{cid}, #{gid}, #{detailcontent}
      )
  </insert>

  <update id="update" parameterType="com.zz.ikeeping.entity.NewsDetail">
    update t_newsdetail
    <set>
      <if test="rewardcount != null">
        rewardcount = #{rewardcount,jdbcType=INTEGER},
      </if>
      <if test="readcount != null">
        readcount = #{readcount,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="gid != null">
        gid = #{gid,jdbcType=INTEGER},
      </if>

      <if test="detailcontent != null">
        detailcontent = #{detailcontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
<!--推送题材-->
  <select id="push" parameterType="string" resultType="com.zz.ikeeping.entity.News">
  select * from  t_news  where newstype like concat("%",#{newstype},"%")
  </select>
<!--推荐营养餐-->
  <select id="pushgood" parameterType="string" resultType="com.zz.ikeeping.entity.Goods">
 select * from t_goods where name like concat(#{name},"%")
  </select>
<!--优惠卷-->
  <select id="sale" parameterType="int" resultType="com.zz.ikeeping.entity.UserCoupon">
    select u.* from t_usercoupon u
    inner join t_newsdetail n
    on u.id = n.gid
    where n.id=#{id}
  </select>
</mapper>