<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.ikeeping.message.core.dao.MessageLogMapper">
  <resultMap id="BaseResultMap" type="com.zz.ikeeping.message.core.entity.MessageLog">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="mid" jdbcType="INTEGER" property="mid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="info" jdbcType="VARCHAR" property="info" />
  </resultMap>

  <sql id="Base_Column_List">
    id, mid, createtime, ip, info
  </sql>
  <select id="selectByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from messagelog
    limit #{index},#{count}
    order by createtime desc
  </select>

  <select id="selectCount">
    select count(*) from messagelog
  </select>
  <insert id="insert" parameterType="com.zz.ikeeping.message.core.entity.MessageLog">
    insert into messagelog ( mid, createtime, ip, info)
    values (#{mid,jdbcType=INTEGER},now(), #{ip,jdbcType=VARCHAR},#{info,jdbcType=VARCHAR})
  </insert>

</mapper>